<nav-menu></nav-menu>
<div class="container">
	<section class="class-signup">
		<div class="class-signup-cover">
			
		</div>
		<div class="class-signup-content">
			<div class="form form-class">
				<h2>Thank you </h2>
				<p>Thank you for signing up! Please make your payment and <b>upload your receipt</b> <a href="#/members/payment"> HERE </a>.</p>
				<p>Once we receive and approve your class, you will receive a confirmation email. Then, we'll SEE YOU ON THE DANCE FLOOR!</p>
				<p>If you wish to pay with cash on the first day of class, we cannot guarantee your spot.</p>
				

			</div>


		</div>

	</section>
</div>