<nav-menu></nav-menu>
<div class="container">
	<section class="class-signup">
		<div class="class-signup-cover-sorry">
			
		</div>
		<div class="class-signup-content">
			<div class="form form-class">
				<h2>Wait a minute! </h2>
				<p>We still need to confirm your level for the class. Once we approve your class in the next 7 days, you will receive a confirmation e-mail. If you don't receive an e-mail within 7 days please get in touch with us via e-mail again, or speak with the teacher of the course. </p>
				<p><b>Please do not make any payment until you have received our confirmation for your spot in the class! </b></p>
				<p>เดี๋ยวก่อน! คุณจะได้รับการยืนยันคลาสของคุณภายใน 7 วัน ถ้าไม่ได้รับอีเมลยืนยัน กรุณาติดต่อเราหรือคุณครูของคลาสนั้นอีกครั้งค่ะ</p>

				<b>กรุณาอย่าทำการชำระเงินจนกว่าจะได้รับอีเมลยืนยันคลาสจากเรา</b>

			</div>


		</div>

	</section>
</div>